.image img {
    width: 100px;
    border-radius: 100px;

}

li {
    list-style-type: none;
    padding: 8px;

}

.image {
    display: flex;

}

.image p {
    padding-left: 20px;
}

.image a {
    text-decoration: none;
    color: inherit;
}



.image a:active {
    text-decoration: underline;
}
