img{
    border-radius: 40px;
    
}
.product1 {
    display: flex;       /* REQUIRED for flex-wrap */
    flex-wrap: wrap;     /* CORRECT SPELLING */
    
}
.col{
    overflow: hidden;
   padding: 20px;
}
.row1{
    width: 100%;
    display: flex;
}
.co{
    width: 20%;
  
}
.co1{
    width: 80%;
}
.row1{
    margin-top: 60px;
}
.btn{
    width: 300px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(224, 21, 89);
    border: none;
    color: aliceblue;
   font-weight: bold;
}
.box{
    width: 220px;
    height: 150px;
    border-radius: 30px;
    border: 2px solid palevioletred;
    margin-left: 20px;
    margin-top: 50px;
    position:sticky;
    top: 0px;
    
}
.kkk{
    display: flex;
    margin-left: -30px;
}